.books-container
  width: 1200px
  margin: 0 auto
  display: flex
  flex-wrap wrap
  justify-content: space-between
  margin-top: 20px
.card
  width: 24%
  margin-bottom: 20px
  text-align: left
.add_book
  margin: 0 auto
  width: 25%